<h1><%=@zodiac.sign%></h1>
<p>Start Date: <%= @zodiac.start_date %> —— End Date: <%= @zodiac.end_date %></p>
<p>Defining Characteristics: <%= @zodiac.keywords %></p>
<div>---------------</div>
<p>Symbol: <%= @zodiac.symbol %></p>
<p>Element: <%= @zodiac.element %></p>
<p>Quality: <%= @zodiac.quality %></p>
<p>Vibe: <%= @zodiac.vibe %></p>
<div>---------------</div>
<p>Mental Traits: <%= @zodiac.mental_traits %></p>
<p>Pysical Traits: <%= @zodiac.physical_traits %></p>

<p><%link_to "Return to Index", zodiacs_path %></p>
