<form class="ui form">
<%= form_for @user do |f| %>
  <div class='field'>
    <%= f.label :name%>
  <div class='control'>
    <%= f.text_field :name %>
  </div>
  </div>



      <%= f.label "Birth Month" %>

    <div class="ui dropdown">
      <%= f.select :birth_month, options_for_select([["January"], ["February"], ["March"], ["April"], ["May"], ["June"], ["July"], ["August"], ["September"], ["October"], ["November"], ["December"]]), prompt: true %>
    </div>


  <div class='field'>

      <%= f.label :birth_day %>
    <div class='control'>

      <%= f.text_field :birth_day %>
    </div>
  </div>

  <div class='field'>

      <%= f.label "Birthyear(YYYY)"  %>

    <div class="control">
        <%= f.number_field :birth_year %>
    </div>
  </div>


  <div class='field'>

      <%= f.label "Borough" %>

    <div class="control">
      <div class="ui search dropdown">
        <%= f.collection_select :location_id, @locations, :id, :name, prompt: true %>
      </div>
    </div>


    <%= f.submit %><br><br>

  <% end %>


</form>
