<h1>Edit a User</h1>

<% if flash[:errors]  %>
  <div class="error_message">
    <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Birth Month & Day (MMDD): <%= f.text_field :birthday %></p>
  <p>Birth Year (YYYY): <%= f.text_field :birth_year %></p>
  <%= f.submit %>
<% end %>
