<div class="star-padding container">
<h1>New User</h1>

<%= render "form"%>
<<<<<<< HEAD
=======
<!-- # <% if flash[:errors]  %>
#   <div class="error_message">
#     <ul>
#     <% flash[:errors].each do |error| %>
#       <li><%= error %></li>
#     <% end %>
#     </ul>
#   </div>
# <% end %>
#
#
# <%= form_for @user do |f| %>
#
# <div class='field'>
#   <div class='label'>
#     <%= f.label :name %>
#   </div>
#   <div class='control'>
#     <%= f.text_field :name %>
#   </div>
# </div>
#
# <div class="field">
#   <div class="label">
#     <%= f.label "Birth Month" %>
#   </div>
#   <div class="select">
#     <%= f.select :birth_month, options_for_select([["January"], ["February"], ["March"], ["April"], ["May"], ["June"], ["July"], ["August"], ["September"], ["October"], ["November"], ["December"]]), prompt: true %> </p>
#   </div>
# </div>
#
# <div class='field'>
#   <div class='label'>
#     <%= f.label :birth_day %>
#   </div>
#   <div class='control'>
#     <%= f.text_field :birth_day %>
#   </div>
# </div>
#
# <div class='field'>
#   <%= f.label "Birthyear(YYYY)"  %>
#   <%= f.number_field :birth_year %></p>
#
# <div class='field'>
#   <%= f.label "Borough" %>
#   <%= f.collection_select :location_id, @locations, :id, :name, prompt: true %>
#
#   <%= f.submit %><br><br>
#
# <% end %> -->

</div>
>>>>>>> c770dbb6178c45e0aacbaff72d09cb7b5aebad39
