<h1><%= @user.name %></h1>

<p>Birthday: <%= @user.combine_bday %> </p>
<p>Zodiac Sign: <%= link_to @user.zodiac.sign, zodiac_path(@user.zodiac)%> </p>
<p>Location: <%= link_to @user.location.name, location_path(@user.location)%> </p><br>

<p><%= button_to "Edit User", edit_user_path(@user)%></p>
<p<%= button_to "Remove", user_path(@user), method: :delete %></p>
