<!DOCTYPE html>
<html>
  <head>
    <title>StarMapper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

    <link href="https://fonts.googleapis.com/css?family=Aladin|Finger+Paint|Merienda+One|Molle:400i|Permanent+Marker" rel="stylesheet">
    <!-- font-family: 'Finger Paint', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Aladin', cursive;
    font-family: 'Merienda One', cursive;
    font-family: 'Molle', cursive; -->

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
